.input-container {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

.input {
    height: 30px;
}

.currency-name {
    padding: 10px;
}